/* DEFAULT */

html{
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

*, *::before,
*::after{
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: #1a1a1a;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

/* HEADER */

.header{
    color: #2a2a2a;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 44px 0 35px;
}

.header__list-item{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
}

.header__list1,
.header__list2{
    padding-top: 12px;
}

.header__list1-item + .header__list1-item{
    margin-left: 32px;
}

.header__list2-item{
    font-size: 14px;
    padding: 0 13px;
}

.header__inputBox{
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

.header__inputBox-input{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    font-size: 16px;
    padding: 11px;
    width: 300px;
}

.header__list2-img{
    display: block;
}

.header__list2{
    display: flex;
    align-items: center;
    margin-left: auto;
    max-width: 271px;
}

.header__list2-item + .header__list2-item,
.header__list2-item + .header__list2-item + .header__list2-item + .header__list2-item{
    border-left: 1px solid #2a2a2a;
}

.header__list2-item + .header__list2-item + .header__list2-item{
    border-left: none;
}

.header__logo{
    height: 38px;
}

.header__logo-img{
    display: block;
}

/* FIRST SCREEN */

.firstScreen{
    background: url(../images/bgf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 518px 0 30px;
}

.firstScreen-link{
    border-bottom: 1px solid #FFFFFF;
    padding: 0 18px 3px 0;
    color: #FFFFFF;
    line-height: 150%;
    font-weight: 400;
    font-size: 15px;
}

.firstScreen-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 158%;  
    color: #FFFFFF;
    display: block;
    margin-bottom: 1px;
}

/* GOODS */

.goods__inner{
    padding: 40px 0 170px;
}

.goods__tabsBox{
    max-width: 706px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.goods__tabsBox-btn{
    color: #B3B3B3;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
}

.goods__tabsBox-btn.--active-btn{
    color: #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
}

.goods__content{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.goods__content.--active-content{
    display: grid;
}

.goods__content-card{
    max-width: 275px;
    margin: 0 auto;
}

.goods__content-card + .goods__content-card + .goods__content-card + .goods__content-card + .goods__content-card{
    margin-top: 30px;
}

.goods__content-card-name{
    margin-top: 11px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
}

.goods__content-card-name>span{
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #A8A8A8;
    margin-left: 4px;
}

.goods__content-card-price{
    font-weight: 400;
    font-size: 13px;
    color: #1A1A1A;
}

.goods__content-card-discount{
    color: #FF3451;
}

.goods__content-card-lastPrice{
    color: #808080;
    margin-right: 5px;
}

.goods__content-card-img{
    display: block;
}

.goods__link{
    color: #FFFFFF;
    padding: 15px 60px;
    background: #1A1A1A;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 300px;
}

/* TOP GOOD */

.topGood{
    background: url(../images/bgt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.topGood__textBox{
    color: #f7f7f7;
    padding: 198px 0;
}

.topGood-title{
    font-weight: 400;
    font-size: 35px;
    line-height: 154%;
    color: #f7f7f7;
    margin-bottom: 13px;
    max-width: 360px;
}

.topGood-btn{
    padding: 11px 30px;
    background: #7E6E45;
    font-weight: 400;
    font-size: 15px;
    display: block;
    text-align: center;
    max-width: 182px;
    margin-bottom: 20px;
}

.topGood-link{
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    border-bottom: 1px solid #f7f7f7;
    padding: 0 10px 3px 0;
}

/* ABOUT */

.about{
    background: #312F2E;
    padding: 127px 0;
}

.about__inner{
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
}

.about__textBox{
    padding: 90px 0 0 90px;
}

.about__textBox-title{
    max-width: 182px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
}

.about__textBox-text{
    max-width: 182px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 30px;
}

.about__textBox-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding: 0 10px 3px 0;
    border-bottom: 1px solid #1A1A1A;
}

/* CATEGORIES */

.categories__inner{
    padding: 115px 0;
}

.categories-title{
    max-width: 630px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
}

.categories__human{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.categories__human>div{
    max-width: 522px;
}

.categories__human-img,
.categories__objects-img{
    display: block;
    margin-bottom: 7px;
    width: 100%;
}
.categories__human-img{
    margin-left: 10px;
}
.categories__human-img-1{
    margin-left: 0;
}

.categories-link{
    padding: 0 10px 3px 0;
    border-bottom: 1px solid #1A1A1A;
}

.categories__objects{
    margin-top: 70px;
}

/* CREATING */

.creating{
    background: url(../images/bgc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 233px 0;
}

.creating-title{
    max-width: 782px;
    text-align: center;
    line-height: 154%;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
}

.creating-link{
    padding: 0 10px 3px 0;
    color: #FFFFFF;
    border-bottom: 1px solid #fff;
    display: block;
    margin: 0 auto;
    max-width: 117px;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

/* CONTACT */

.contact{
    padding: 80px 0 130px;
    background: #CED3CA;
}

.contact-title{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
}

.contact-text{
    max-width: 373px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.contact__form{
    max-width: 404px;
    display: block;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.contact__form-input{
    font-size: 16px;
    background: #fff;
    border: 1px solid #242424;
    padding: 13px 10px;
    width: 338px;
}

.contact__form-btn{
    border: 1px solid #242424;
    border-left: none;
    width: 62px;
    height: 47px;
    background: #fff;
}

.contact__form-img{
    display: block;
    margin: 0 auto;
}

/* FOOTER */

.footer{
    padding: 85px 0 100px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer__links{
    width: 403px;
    display: flex;
    justify-content: space-between;
}

.footer__linkBox-link + .footer__linkBox-link{
    margin-top: 16px;
}

.footer__linkBox-link{
    font-weight: 400;
    font-size: 15px;
    display: block;
}

.footer__copy{
    display: flex;
}

.footer__copy-textBox{
    margin-right: 24px;
}

.footer__copy-textCopy{
    text-align: right;
    max-width: 233px;
    margin-left: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 8px;
}

.footer__copy-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    max-width: 233px;
    text-align: right;
}

.footer__logo-img{
    display: block;
}

.footer__social{
    margin-top: 35px;
    max-width: 125px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.footer__social-img{
    display: block;
}

/* BURGER */

.burger-btn{
    display: none;
}

.burger-span + .burger-span{
    margin-top: 7px;
}

.burger-span{
    display: block;
    width: 34px;
    height: 3px;
    border-radius: 2px;
    background: #1A1A1A;
}

.burger__menu{
    position: fixed;
    z-index: 10px;
    width: 310px;
    height: 100vh;
    margin-left: auto;
    transform: translateX(100%);
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s;
}

.burger__menu.--show{
    transform: translateX(0%);
}

.burger__menu-btn{
    display: block;
    margin: 20px auto;
}

.burger__menu-img{
    display: block;
}

.burger__menu-link{
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 20px;
}

.burger__menu-nav{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.burger__nav-link + .burger__nav-link{
    border-left: 1px solid #1A1A1A;
}

.burger__nav-link{
    padding: 0 13px;
}

.burger__nav-img{
    display: block;
    margin-top: 3px;
    margin-right: 26px;
}

.burger__menu-input{
    display: block;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    font-size: 16px;
    padding: 11px;
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
}

/* MEDIA */

@media (max-width: 1170px){
    .goods__content{
        grid-template-columns: repeat(3,1fr);
    }
    .goods__content-card + .goods__content-card + .goods__content-card + .goods__content-card{
        margin-top: 30px;
    }
}

@media (max-width: 1100px){
    .about__inner{
        display: block;
        max-width: 754px;
        margin: 0 auto;
    }
    .about__textBox-title{
        max-width: 500px;
    }
    .about__textBox-text{
        max-width: 220px;
    }
    .about__textBox-link{
        margin-bottom: 20px;
        display: block;
        max-width: 130px;
    }
}

@media (max-width: 890px){
    .burger-btn{
        display: block;
    }
    .header__nav1,
    .header__nav2{
        display: none;
    }
    .header__inner{
        padding: 25px 0;
    }
    .goods__content{
        grid-template-columns: repeat(2,1fr);
    }
    .goods__content-card + .goods__content-card + .goods__content-card{
        margin-top: 30px;
    }
}

@media (max-width: 800px){
    .about__inner{
        max-width: 500px;
    }
    .about__textBox{
        padding-top: 50px;
        padding-left: 50px;
    }
    .about__textBox-title{
        max-width: 300px;
    }
    .about-img{
        max-width: 500px;
        display: block;
    }
    .footer__inner{
        display: block;
    }
    .footer__links{
        margin: 0 auto;
    }
    .footer__socialBox{
        margin: 0 auto;
        margin-top: 30px;
        width: 290px;
    }
}

@media (max-width: 600px){
    .goods__content{
        grid-template-columns: repeat(1,1fr);
    }
    .goods__content-card + .goods__content-card{
        margin-top: 30px;
    }
}

@media (max-width: 530px){
    .categories-title,
    .creating-title{
        font-size: 24px;
    }
}

@media (max-width: 550px){
    .goods__tabsBox{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .goods__tabsBox-btn{
        margin: 0 auto;
        margin-top: 20px;
        max-width: 100px;
    }
    .about__inner{
        max-width: 300px;
    }
    .about__textBox{
        padding-top: 30px;
        padding-left: 30px;
    }
    .about__textBox-title{
        max-width: 182px;
    }
    .about__textBox-text{
        max-width: 182px;
    }
    .about-img{
        max-width: 300px;
    }
}

@media (max-width: 440px){
    .footer__links{
        width: 290px;
    }
}
